  <div class="container">
    <div class="infoBox infoBox-consumed">

      <h3>Consumed: {{ smartgridData[0]?.lectricityConsumed }} w/h
        <br> from SHS
      </h3>

      
    </div>

    <div class="infoBox infoBox-produced">
      <h3>Produced:   {{ smartgridData[0]?.electricityProducedv }} w/h</h3>
      <h3>Batteries_Save: {{ calculateAdjustedConsumed()}} w/h</h3>
      <button (click)="updateSmartgridData(smartgridData[0])">Send to Database</button>
      
  
    
    </div>


    <div class="infoBox infoBox-CAPACITY">

      <h3 >  Incoming:  {{ smartgridData[0]?.lectricityConsumed }} w/h 
        
      </h3>
    
    
    </div>
  </div>


  <!-- ZUM LOESCHEN
  <app-dynamic-table [tableDataList1]="cleanenergyTable" 
                    [tableDataList2]="tableDataList"
                    [tableDataList3]="tableDataList" 
                    [tableDataList4]="tableDataList"> 
                                                        </app-dynamic-table> -->

                                                

                                  
                                                

  <!-- Turbine -->  
  <div class="table-container" style="width: 100%;">
    <table  class="table">
      <caption>Turbine</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Windspeed <br> (today)</th>
          <th style="color: rgb(149, 47, 47);">Production </th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turbin of turbine">
          <td>{{ turbin.name }}</td>
          <td>{{ turbin.location }}</td>
          <td>{{ turbin.wind_speed }} km/h</td>
          <td style="color: rgb(149, 47, 47);"><strong>{{ turbin.productionAmount }}</strong> w/h</td>
          <td > <button #buttonCell class="button-cell" (click)="updateTurbine(turbin)">
            {{ turbin.status ? 'On' : 'Off' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>     




  <!---Battery--->
  <div class="table-container" style="width: 100%;">
    <table class="table">
      <caption>
        Battery</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>location</th>
          <th>save amount</th>
          <th>capacity</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let battery of batteries">
          <td>{{ battery.name }}</td>
          <td>{{ battery.location }} </td>
          <td>{{ battery.capacity }} w/h</td>
          <td> <strong>{{ battery.saveAmount }} w/h </strong></td>
          <td><button #buttonCell class="button-cell" (click)="updateBattery(battery)">
            {{ battery.status ? 'charging' : 'in Using' }}
          </button></td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Solar Panel -->                                 
  <div class="table-container" style="width: 100%;">
    <table class="table">
      <caption>Solar Panel</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Sunshine duration <br> (today)</th>
          <th style="color: rgb(149, 47, 47);">Production </th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let panel of solarPanels">
          <td>{{ panel.name }}</td>
          <td>{{ panel.location }}</td>
          <td>{{ panel.sunrise }} hours</td>
          <td style="color: rgb(149, 47, 47);"> <strong> {{ panel.productionAmount }} w/h </strong></td>
          <td > <button #buttonCell class="button-cell" (click)="updateSolarpanel(panel)">
            {{ panel.status ? 'On' : 'Off' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!------>
  <div class="table-container" style="width: 100%;">
    <table class="table">
      <caption>
        conventional energy power plant</caption>
      <thead>
        <tr>
          <th>name</th>
          <th style="color: rgb(149, 47, 47);">production</th>
          <th>status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factory of factories">
          <td>{{ factory.name }}</td>
          <td style="color: rgb(149, 47, 47);"><strong>{{ factory.production }}</strong></td>
          <td><button #buttonCell class="button-cell" (click)="updateFactory(factory)">{{ factory.name }}</button></td>

        </tr>
      </tbody>
    </table>
  </div>


    

