

.tables-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .table-container {
    width: 30%;
    margin-bottom: 20px;
    
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
  }
  
  caption {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  
  /* Media query for smaller viewports */
  @media screen and (max-width: 768px) {
    .tables-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      
    .table-container {
        width: 30%;
        margin-bottom: 20px;
      }
      
      .table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
      }
      
      caption {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      th,
      td {
        padding: 8px;
        text-align: left;
        border: 1px solid ;
      }
      
      
    }
    
    .button-cell {
        background-color: #08212a;
        color: white;
        text-align: center;
        padding: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .button-cell:hover {
        background-color: #08212a;
      }
      
      .button-cell:active {
        background-color: #08212a;
      }