<div class="tables-container">
  <div class="table-container">
    <table class="table">


      <!-- Solar Panel -->>
      <caption>Solar Panel</caption>
      <caption>Solarpanel</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>sunrise/<br>sunset</th>
          <th>production<br>kw\h</th>
          <th  >status</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of tableDataList1">
          <td>{{ row.name }}</td>
          <td>{{ row.sunrise}}</td>
          <td>{{ row.production_amount}}</td>
          
          <td > <button #buttonCell class="button-cell" (click)="getElement(buttonCell)">
            {{ row.status ? 'On' : 'Off' }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--y -->>


  <div class="table-container">
    <table class="table">
      <caption>Turbine</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>windspeed</th>
          <th>production<br>kw\h</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableDataList2">
          <td>{{ row.name }}</td>
          <td>{{ row.windspeed }}</td>
          <td>{{ row.production }}</td>
          <td><button #buttonCell class="button-cell" (click)="getElement(buttonCell)">{{ row.name }}</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="table-container">
    <table class="table">
      <caption>
        conventional energy power plant</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>production<br>kw\h</th>
          <th>status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableDataList3">
          <td>{{ row.name }}</td>
          <td>{{ row.production }}</td>
          <td><button #buttonCell class="button-cell" (click)="getElement(buttonCell)">{{ row.name }}</button></td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-container">
    <table class="table">
      <caption>
        Battery</caption>
      <thead>
        <tr>
          <th>name</th>
          <th>capacity</th>
          <th>status</th>
          <th>location</th>
          <th>amount</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableDataList4">
          <td>{{ row.name }}</td>
          <td>{{ row.capacity }}</td>
          <td><button #buttonCell class="button-cell" (click)="getElement(buttonCell)">{{ row.name }}</button></td>
          <td>{{ row.production }}</td>
          <td>{{ row.location }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
